body {
	font-size: 18px;

	& label, & legend {
		user-select: none;
	}

	& fieldset {
		padding: 0.2em 0.4em 0.4em;
		border: 1px solid silver;
		border-radius: 5px;

		&.theme label {
			display: block;
			padding: 0.2em 0.2em;
		}
	}

	> label {
		display: block;
		margin: 1em 0.2em;
	}
}
