body {
	font-size: 18px;
	margin: 0;
	padding: 10px;

	&.light-theme {
		--background-color: white;
		--text-color: black;
		--link-color: blue;
		--border-color: var(--text-color);
	}

	&.dark-theme {
		--background-color: #222;
		--text-color: white;
		--link-color: skyblue;
		--border-color: #666;
	}

	&.site-theme {
		--background-color: var(--site-background-color);
		--text-color: var(--site-text-color);
		--link-color: var(--site-link-color);
		--border-color: var(--site-border-color);
	}

	background-color: var(--background-color);
	color: var(--text-color);

	& a {
		color: var(--link-color);
	}

	& input, & button {
		color: var(--text-color);
		background-color: var(--background-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
	}

	.hidden {
		display: none !important;
	}

	.lyrics {
		width: 500px;

		.header {
			display: flex;

			.song-art {
				width: 150px;
				margin-right: 0.8em;
			}

			.right-part {
				.title {
					margin: 0.2em 0;
				}

				.link {
					font-size: 0.9em;
				}
			}
		}

		.text {
			margin-top: 1em;
			line-height: 1.6em;
		}
	}

	& form.load {
		margin-top: 1em;

		& input, & button, & legend {
			font-size: 16px;
		}

		> fieldset {
			display: flex;
			padding: 0.2em 0.4em 0.4em;

			& input[name="query"] {
				flex-grow: 1;
				padding: 0.4em 0.8em;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			& button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	& .not-found, & .not-supported {
		color: red;
		white-space: nowrap;
	}

	& .captcha {
		min-width: 15em;
	}
}
