html {
	min-width: 300px;
	height: 100px;
}

body {
	--body-padding: 10px;

	font-size: 18px;
	margin: 0;

	&.light-theme {
		--background-color: white;
		--text-color: black;
		--link-color: blue;
		--border-color: var(--text-color);
	}

	&.dark-theme {
		--background-color: #222;
		--text-color: white;
		--link-color: skyblue;
		--border-color: #666;
	}

	&.site-theme {
		--background-color: var(--site-background-color);
		--text-color: var(--site-text-color);
		--link-color: var(--site-link-color);
		--border-color: var(--site-border-color);
	}

	background-color: var(--background-color);
	color: var(--text-color);

	& > * {
		padding: var(--body-padding);
	}

	& a {
		color: var(--link-color);
	}

	& input,
	& button {
		color: var(--text-color);
		background-color: var(--background-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
	}

	.hidden {
		display: none !important;
	}

	& > .loading {
		text-align: center;
	}

	.lyrics {
		width: 500px;
		padding: 0;

		& > * {
			padding: var(--body-padding);
		}

		.header {
			display: flex;

			background: linear-gradient(165deg, var(--song-art-color), transparent 75%);

			.song-art {
				width: 150px;
				margin-right: 0.8em;
			}

			.right-part {
				.title {
					margin: 0.2em 0;
				}

				.link {
					font-size: 0.9em;
				}

				p.other-search-results {
					margin: 1em 0 0;
				}
			}
		}

		.text {
			margin-top: 1em;
			line-height: 1.6em;
		}
	}

	& > .other-search-results {
		& h4 {
			margin: 1em 0;
		}

		& ul {
			padding: 0 0.4em;
			margin: 0;

			& li {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 0.8em 0;
				cursor: default;

				&:first-of-type {
					margin-top: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				& img.song-art {
					width: 40px;
					margin-right: 0.6em;
				}

				& > .titles {
					display: flex;
					flex-direction: column;

					& .artist {
						font-size: 0.85em;
					}
				}
			}
		}
	}

	& a.search-page {
		display: inline-block;
		margin-top: 0.4em;
	}

	& form.load {
		margin-top: 0.2em;

		& input,
		& button,
		& legend {
			font-size: 16px;
		}

		> fieldset {
			display: flex;
			padding: 0.2em 0.4em 0.4em;

			& input[name="query"] {
				flex-grow: 1;
				padding: 0.4em 0.8em;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			& button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	& .not-found,
	& .not-supported {
		color: red;
		white-space: nowrap;
		text-align: center;
	}

	& .captcha {
		min-width: 15em;
	}
}
